html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

@media (max-width: 574px) {
    .hidden {
        display: block;
        margin-bottom: 0.5rem;
    }
}

._field-wrapper input,
select {
    color: #1b1b2b;
    width: 100%;
    border: 1px solid #e1e9f4;
    background-color: #fff;
    margin-bottom: 0.75rem;
    height: 42px !important;
    font-size: 16px !important;
}

._field-wrapper input:focus,
button.stamp-header:focus,
button.stamp-header:active,
select:focus,
.container input:focus {
    outline: none !important;
    border-color: #12e066;
}

._field-wrapper label {
    color: #373753;
    font-size: 16px;
}

._field-wrapper input:placeholder {
    color: #000;
}

.box-outer {
    font-family: Montserrat, Sans-serif;
    font-size: 1rem;
    max-width: 400px;
    padding: 80px 30px;
    margin: 0 auto;
}

.span-required {
    margin-left: 10px;
    font-size: 12px;
    color: #e63636;
}

.category {
    padding: 10px;
}

.load-img {
    width: 24px;
    animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loadingDots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

.loading::after {
    display: inline-block;
    animation: loadingDots 1s steps(3, end) infinite;
    content: "";
}

.politica {
    display: flex;
    justify-content: center;
    align-items: center;
}

.politica label {
    font-size: 12px;
    text-align: center;
}

#botaoEnviar {
    margin: 20px auto 0 auto;
    color: #000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.25rem;
    background-color: #12e066;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*#botaoEnviar:hover{*/
/*    color: #fff;*/
/*    background: #6e2594;*/
/*}*/

@media (max-width: 767px) {
    .hidden {
        display: block;
    }
}

@media (max-width: 576px) {
    #_form_5_submit {
        font-size: 10px;
    }

    #botaoEnviar {
        width: 100%;
        font-size: 14px;
    }
}